<div id="add-post-container" class="add-post-container">

	<h1 class="">Add post</h1>

	<form class="form" [formGroup]="addPostForm">

		<mat-form-field class="full-width-ctrl">
		
			<input matInput placeholder="Post Title" formControlName="title">
		
		</mat-form-field>

		<mat-form-field class="full-width-ctrl">
		
			<input matInput placeholder="Post Text" formControlName="body">
		
		</mat-form-field>

	</form>

	<mat-card class="no-border">
		<mat-card-actions align="end">
			<button mat-raised-button routerLink="/posts">Cancel</button>
			<button color="primary" mat-raised-button (click)="addPost( addPostForm.value )" [disabled]="addPostForm.invalid">Add</button>			
		</mat-card-actions>
	</mat-card>		
	
</div>